
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;900&family=Schoolbell&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	font-family: 'Nunito', sans-serif;
	font-size: 1.2rem;
	min-height: 100%; 
	grid-gap:5px;
}

@media {
.grid_container{
	display: grid;
	grid-template: 
	"header" 100px
	"main"	auto
	"sidebar" 600px
	"footer" 30px
	;
}

a{
	text-decoration: none;
	color: black;
}

.header{
	grid-area: header;
	background-color:white;
}

.cabezera{
	float: left;
}

.main{
	margin-left:10px;
    border-radius:10px;
	grid-area: main;
	background-color:silver;
}

.sidebar{
	grid-area: sidebar;
	text-align: center;
}

 .footer{
	color:white;
	grid-area: footer;
	background-color: red;
}

#logo{
	float: left;
	margin-top: 10px;
	margin-left:40px;
}

.redes{
	float: right;
	margin-right: 5%;
	margin-top: -7%;

}
	
#redes1{
	float: right;
	margin-right: 13%;
	margin-top: -6%;
	font-size: 12px;
	color: white;
}

.titulo{
	float: left;
	position: relative;
	margin-top: 5%;
	margin-left: 8%;
	font-family: 'Schoolbell', display;
	font-weight: bold;
	font-size: 30pt;
	transition: all 0.3s ease;

}

@keyframes titulo{

15% { transform: translateX(5px);}

30% { transform: translateX(-5px);}

50% { transform: translateX(3px);}

65% { transform: translateX(-3px);}

80% { transform: translateX(2px);}

100% { transform: translateX(0);}

}

.titulo:hover{
	
	animation: titulo 1s ease;
	animation-iteration-count:5;			
}

#titulos{
	padding-top: 2%;
	padding-left: 5%;
	font-size: 18pt;
}

#titulobody{
	margin-top: 5%;
	margin-left: 6%;
	font-size: 18pt;

}

p{
	padding-top: 2%;
	padding-left: 5%;
	font-size: 18pt;
}

ul{ font-size:16px;
	padding-top: 1%;
	padding-left: 7%;
}


h4{
	margin-top: 3px;
	margin-left: 3%;
}


#formulario{
	float: left;
	position:relative;
	top: 7%;
	margin-left: 20%;
	background-color: silver;
	border-radius: 5px;
	width: 300px;
	padding: 15px;
}

.enviar{
	width: 70%;
	height: 35px;
	border-radius: 5px;
	color: white;
	font-family:impact;
	background-color: red; 
	font-size: 18px;
	float: center;
	transition: all 0.3s ease;
}

.enviar:hover{
	box-shadow: inset 0 0 0 5px #F4E501;
}

.anchoform{
 	width: 100%
 }

}

@media (min-width: 600px) {

	.grid_container{

		grid-template: 
		"header 	header" 	100px 
		"main 		sidebar" 	auto
		"footer 	footer" 	50px /
		 auto 		auto;
 	}
a{
	text-decoration: none;
	color: black;
}



#titulos{
	padding-top: 2%;
	padding-left: 5%;
	font-size: 18pt;
}

#titulobody{
	margin-top: 5%;
	margin-left: 6%;
	font-size: 18pt;

}

ul{
	padding-top: 1%;
	padding-left: 7%;
}


p{
	padding-top: 2%;
	padding-left: 5%;
	font-size: 18pt;
}


.redes{
	float: right;
	margin-right: 5%;
	margin-top: -4.5%;
}

#redes1{
	float: right;
	margin-right: 12%;
	margin-top: -6%;
	font-size: 14px;
	color: white;
}


.main{
	margin-left:10px;
    border-radius:10px;
	grid-area: main;
	background-color:silver;
}

.header{
	grid-area: header;
	background-color:white;
}

.cabezera{
	float: left;
}

.footer{
	grid-area: footer;
	background-color: red;
}

.sidebar{
	grid-area: sidebar;
}

.titulo{
	float: left;
	position: relative;
	margin-left: 5%;
	margin-top: 3%;
	font-family: 'Schoolbell', display;
	font-weight: bold;
	font-size: 30pt;
	transition: all 0.3s ease;

}

#formulario{
	float: left;
	position: fixed;
	top: 7%;
	margin-left: 20%;
	background-color: silver;
	border-radius: 5px;
	width: 300px;
	padding: 15px;
}

.enviar{
	width: 70%;
	height: 35px;
	border-radius: 5px;
	color: white;
	font-family:impact;
	background-color: red; 
	font-size: 18px;
	float: center;
	transition: all 0.3s ease;
}

.enviar:hover{
	box-shadow: inset 0 0 0 5px #F4E501;
}

.anchoform{
 	width: 100%
 }

@media (min-width: 900px) {
	.grid_container{
		grid-template: 
		"header 	header 	header" 	100px 
		"main 		main 	sidebar" 	auto
		"footer 	footer 	footer" 	50px /
		 300px 		auto 	600px;
	}

.main{
	grid-area: main;
	background-color:silver;
}

.header{
	grid-area: header;
	background-color:white;
}

.CABEZERA{
	float: left;

}

.footer{
	grid-area: footer;
	background-color: red;
}

.sidebar{
	grid-area: sidebar;
}


#logo{
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 10px;
	margin-left:40px;
}


#formulario{
	float: left;
	position:relative;
	top: 7%;
	margin-left: 20%;
	background-color: silver;
	border-radius: 5px;
	width: 300px;
	padding: 15px;
}

.anchoform{
 	width: 100%
 }

.enviar{
	width: 70%;
	height: 35px;
	border-radius: 5px;
	color: white;
	font-family:impact;
	background-color: red; 
	font-size: 18px;
	float: center;
	transition: all 0.3s ease;
}

.enviar:hover{
	box-shadow: inset 0 0 0 5px #F4E501;
}

#redes1{
	float: right;
	margin-right: 8%;
	margin-top: -3.5%;
	font-size: 14px;
	color: white;
}

.redes{
	float: right;
	margin-right: 5%;
	margin-top: -2%;

}

}
 
